* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/background.png");
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h2 {
	font-size: 30px;
	color: #00aba0;
	border-bottom: 2px solid #e2e0db;
	padding-bottom: 20px;
	margin: auto;
}

h3 {
	color: #00aba0;
	font-size: 20px;
	text-align: center;
	border-bottom: 2px solid #e2e0db;
	padding: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 0;
}

h4 {
	color: #fff;
	font-family: 'Georgia', 'Times New Roman', serif;
	font-size: 20px;
}

/* Clear Fix for Floats */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
 	zoom: 1; /* ie 6/7 */
}

/* Main Header & Navigation */
#headerContainer {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	border: 2px solid red;
}

#logo {
	text-decoration: none;
	height: 90px;
	width: 250px;
	display: block;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	background: #4aaaa5;
	text-align: center;
	line-height: 90px;
}

h2, h3 {
	font-family: 'Georgia', 'Times New Roman', serif;
	font-weight: bold;
}

header {
	width: 100%;
	border-bottom: 3px solid #cccccc;
	background-color: #fff;
}

/*nav {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 30px;
}

nav ul li {
	display: inline-block;
	margin-right: 25px;
	padding: 5px;
}

nav ul li a {
	text-decoration: none;
	color: #c2c0b3;
}*/

#contactNav {
	margin-right: 0px;
}

/* Main Body */
.mainContainer {
	width: 960px;
	margin: 30px auto;
	position: relative;
}

section {
	width: 650px;
	border: 2px solid #e6e4df;
	background-color: #fff;
	padding: 20px;
	padding-bottom: 15px;
	float: left;
}

#profilePic {
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}

section p {
	color: #8b8d8b;
	margin-top: 15px;
	line-height: 25px;
	text-align: justify;
}

/* Aside */
aside {
	border: 2px solid #e6e4df;
	float: right;
	background-color: #fff;
}

aside p {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Footer */
footer {
	background-color: #666460;
	height: 100px;
	border-top: 10px solid #00aba0;
	position: relative;
}

#footer {
	text-align: center;
	color: #c2c0b3;
	font-size: 10px;
	position: absolute;
	top: 50%;
	right: 50%;
}

/* Portfolio Page */
#hangmanImage {
	background: url("../images/hangman.jpg");
	width: 290px;
	height: 200px;
	background-repeat: no-repeat;
	margin-top: 20px;
	position: relative;
	float: left;
}

#hangmanContent {
	background-color: #00aba0;
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
	padding: 10px;
}

#rpgImage {
	background: url("../images/rpg.jpg");
	width: 290px;
	height: 200px;
	background-repeat: no-repeat;
	margin-top: 20px;
	position: relative;
	float: right;
}

#rpgContent {
	background-color: #00aba0;
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
	padding: 10px;
}

#triviaImage {
	background: url("../images/trivia.jpg");
	width: 290px;
	height: 200px;
	background-repeat: no-repeat;
	margin-top: 20px;
	position: relative;
	float: left;
}

#triviaContent {
	background-color: #00aba0;
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
	padding: 10px;
}

#widgetImage {
	background: url("../images/widget.jpg");
	width: 290px;
	height: 200px;
	background-repeat: no-repeat;
	margin-top: 20px;
	position: relative;
	float: right;
}

#widgetContent {
	background-color: #00aba0;
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
	padding: 10px;
}

#rockpaperscissorsImage {
	background: url("../images/rps.jpg");
	width: 290px;
	height: 200px;
	background-repeat: no-repeat;
	margin-top: 20px;
	position: relative;
	float: left;
}

#rpsContent {
	background-color: #00aba0;
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
	padding: 10px;
}

/* Contact Page */
form {
	padding-top: 20px;
}

input {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	height: 200px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

label {
	color: #76746f;
	font-size: 20px;
}

input[type=text], input[type=email] {
	padding: 10px;
}

button[type=submit] {
	border: none;
	background-color: #00aba0;
	height: 40px;
	width: 115px;
	color: white;
	font-size: 15px;
}

/* Media Queries */
